<li>
	<table>
		<tr>
  		<td><%= link_to event.start, event %></td>
  		<td><%= link_to event.end, event %></td>
  	</tr>
  	<tr>
  		<td colspan="2"><%= event.content %></td>
  	</tr>
  	<tr>
  		<td colspan="2">
  			<%= link_to "delete", event, :method => :delete, :confirm => "You sure?",
                                :title => "Delete" %>
      </td>
    </tr>
  </table>
</li>


