<h1>Events Manager</h1>

<p>
  This is the home page for the events manager application
</p>

<% if signed_in? %>
	<%= link_to "Sign out", signout_path, :class => "signup_button round" %>
<% else %>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
